<div>

    <h1>WELCOME</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Employee ID
                </th>
                <th>
                    Employee Name
                </th>
                <th>
                    Location
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Swayam</td>
                <td>Bengaluru</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Swagat</td>
                <td>Bhubaneswar</td>
            </tr>
        </tbody>

    </table>

    @Html.Label("lblName", "Please enter your name")
    @Html.TextBox("txtName")
</div>

