@page "/search"

@using UnsplashBox.Components.Shared

@inject UnsplashService UnsplashService

<div class="searchContainer">
    <div class="bannerContainer">
        <img src="images/gradiend-bg@2x.png" alt="" />
    </div>

    <div class="inputContainer">
        <Input />
    </div>
</div>

@code {
   
}

