@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<title>Movies</title>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>
    <table>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Genre</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>When Harry Met Sally</td>
            <td>2/12/1989</td>
            <td>Romantic Comedy</td>
            <td>7.99</td>
          
        </tr>
        <tr>
            <td>Ghostbusters</td>
            <td>3/13/1984</td>
            <td>Comedy</td>
            <td>8.99</td>
         
        </tr>
        <tr>
            <td>Ghostbusters 2</td>
            <td>2/23/1986</td>
            <td>Comedy</td>
            <td>9.99</td>
            
        </tr>
        <tr>
            <td>Rio Bravo</td>
            <td>4/15/1959</td>
            <td>Western</td>
            <td>3.99</td>
           
        </tr>
    </table>