@model MoviesDatabaseApplication.Models.Signup
@{
    ViewData["Title"] = "Signup Page";
}

<h2>Signup</h2>

<form asp-controller="Signup" asp-action="Index" method="post">
    <div>
        <label asp-for="UserName">Username:</label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" class="form-control" />
    </div>
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div>
        <label asp-for="Phone">Phone:</label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
</form>
