:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 25vh;
  width: min(83%, 550px);
  color: hsl(235, 19%, 35%);
  background-color: white;
  padding-block: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem -2rem hsl(235, 19%, 35%);

  form {
    width: 85%;

    .input-container {
      margin-block: 1.5rem 1rem;
    }

    label {
      font-weight: 600;
    }

    input,
    textarea {
      color: hsl(235, 19%, 35%);
      font-weight: 600;
      letter-spacing: 1px;
      width: 100%;
      display: block;
      border: 1.5px solid hsl(236, 33%, 92%);
      border-radius: 5px;
      padding-block: 0.5rem;
      padding-inline: 0.5rem;
      margin-block-start: 0.5rem;

      &::placeholder {
        font-weight: 500;
      }

      &:hover,
      &:focus {
        border: none;
        outline: 2px solid grey;
      }
    }

    button {
      text-transform: uppercase;
      font-weight: 500;
      color: currentColor;
      background-color: rgba(hsl(220, 98%, 61%), 0.5);
      border: none;
      border-radius: 5px;
      padding-inline: 0.8rem;
      padding-block: 0.5rem;
      letter-spacing: 1.5px;

      &:active,
      &:hover {
        cursor: pointer;
      }
    }
  }
}
