<!-- <div>
    <span>{{ task }}</span>
    <button (click)="deleteTask(index)">Delete</button>
</div> -->

<!-- <div *ngIf="!editing">
    <span>{{ task.title }} - {{ task.date }}</span>
    <button (click)="toggleEdit()">Edit</button>
    <button (click)="deleteTask(index)">Delete</button>
</div>
<div *ngIf="editing">
    <input type="text" [(ngModel)]="editedTask.title">
    <input type="text" [(ngModel)]="editedTask.date">
    <button (click)="saveChanges()">Save</button>
    <button (click)="toggleEdit()">Cancel</button>
</div> -->




  