.task-header {
  height: 30vh;
  display: flex;
  justify-content: center;
  padding-block-start: 3.65rem;
  background-image: url("../assets/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
