
  div {
    
    text-align: center;
    /* background-color: blanchedalmond; */
    /* padding-bottom: ; */
    /* background-image: url('../assets/annie-spratt-OTy0mkqc2Yk-unsplash.jpg');  */
  }


  nav a {
    text-decoration: none;
    color: blue;
  }
  


