<div class="row">
    <div class="col ">User Details
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Verify</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.verify }}</td>
                    <td>
                        <button *ngIf="user.verify === null || user.verify === false" class="btn btn-primary"
                            (click)="verifyUser(user.userid, user.email, user.username,user.password)">Verify</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col mt-6">Appointment Details
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Appointment Date</th>
                    <th>Accept</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let appointment of appointments">
                    <td>{{ appointment.username }}</td>
                    <td>{{ appointment.email }}</td>
                    <td>{{ appointment.appointmentTime}}</td>
                    <td>{{ appointment.Accept}}</td>
                    <td>
                        <button *ngIf="appointment.verify === null || appointment.Accept === false"
                            class="btn btn-primary"
                            (click)="AcceptAppointment(appointment.AppointmentID,appointment.email,appointment.username, appointment.appointmentTime)">Accept</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<a class="btn btn-dark" (click)="logout()"> logout</a>
<button class="btn btn-dark m-3" (click)="downloadExcel()">Download Excel</button>