.App {
  padding-inline: 2rem;
}

h1 {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.card-container {
  width: 312px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 1rem;
  padding-block: 1.8rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(213, 19%, 18%);
  border-radius: 15px;

  p {
    color: hsl(217, 12%, 63%);
  }
}

.icon-container {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  display: grid;
  place-items: center center;
  background-color: hsl(213, 17%, 26%);
}

img {
  max-width: 100%;
}

.number-box-container {
  display: flex;
  justify-content: space-between;
}

.btn-submit {
  width: 100%;
  text-align: center;
  color: hsl(0, 0%, 100%);
  letter-spacing: 2px;
  padding-block: 0.85rem;
  border: none;
  border-radius: 20px;
  background-color: hsl(25, 97%, 53%);
}
