:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-container {
  position: absolute;
  top: 25vh;
  width: min(83%, 550px);
  color: hsl(235, 19%, 35%);
  background-color: white;
  padding-block: 1.5rem;
  padding-inline: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem -2rem hsl(235, 19%, 35%);

  > p {
    margin-block-end: 1rem;

    span {
      display: block;
      font-weight: 700;
    }
  }

  .dates-container {
    display: flex;
    justify-content: space-between;
    margin-block: 3rem 1rem;
    font-size: 0.8rem;
    font-weight: 500;

    span {
      display: block;
    }
  }
}

.btns-container {
  display: flex;
  justify-content: space-between;

  button {
    border: none;
    color: hsl(235, 19%, 35%);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: rgba(hsl(220, 98%, 61%), 0.5);
    border-radius: 5px;
    padding-inline: 0.5rem;
    padding-block: 0.3rem;

    img {
      max-width: 1.9rem;
    }
  }
}

form {
  width: 100%;

  .input-container {
    margin-block: 1.5rem 1rem;
  }

  label {
    font-weight: 600;
  }

  input,
  textarea {
    color: hsl(235, 19%, 35%);
    font-weight: 600;
    letter-spacing: 1px;
    width: 100%;
    display: block;
    border: 1.5px solid hsl(236, 33%, 92%);
    border-radius: 5px;
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
    margin-block-start: 0.5rem;

    &::placeholder {
      font-weight: 500;
    }

    &:hover,
    &:focus {
      border: none;
      outline: 2px solid grey;
    }
  }

  button {
    text-transform: uppercase;
    font-weight: 500;
    color: currentColor;
    background-color: rgba(hsl(220, 98%, 61%), 0.5);
    border: none;
    border-radius: 5px;
    padding-inline: 0.8rem;
    padding-block: 0.5rem;
    letter-spacing: 1.5px;

    &:active,
    &:hover {
      cursor: pointer;
    }
  }
}
