.dashboard-container {
    padding-inline: 2rem;
    padding-block: 1.5rem;

    h1 {
        span {
            font-size: 1rem;
            color: #9B9FAA;
            display: block;
        }
    }
}

.health-track {
    display: flex;
    justify-content: space-between;
    //flex-wrap: wrap;
}

.card {
    background-color: #1AB0B0;
    border-radius: 10px;
    padding-inline: 1rem;
    padding-block: 1rem;
    color: #FFFFFF;
    font-size: 1rem;

    p:last-child {
        font-weight: 600;
        font-size: 0.875rem;
    }

    .steps {
        font-weight: 700;
        font-size: 2rem;
    }
}

.card-2 {
    background-color: #FF7443;
}

.card-3 {
    background-color: #FA5A7D;
}

.card-4 {
    background-color: #8676FE;
}

.progress-bar {
    background-color: rgba(#ffffff, 0.4);
    border-radius: 12px;
    overflow: hidden;
}

.progress-num {
    height: 8px;
    width: 50%;
    background-color: #ffffff;
}


.outer-circle {
    height: 7.5rem;
    width: 7.5rem;
    border-width: 0.9rem;
    border-style: solid;
    border-color: rgba(#ffffff, 0.3);

    border-radius: 50%;
    display: grid;
    place-items: center center;
    position: relative;

    p{
        position: relative;
    }

}

svg {
    position: absolute;
}

circle {
    fill: none;
    stroke: white;
    stroke-width: 0.9rem;
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: progress 1.5s linear forwards;
}

@keyframes progress{
    100%{
        stroke-dashoffset: 200;
    }
}

.calories-bar {
    height: 4rem;
    width: 8rem;
    border: 0.9rem solid white;
    box-sizing: border-box;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 8rem;
        height: 8rem;
        box-sizing: border-box;
    }
}

// Progress Report
.progress-report-container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-block-start: 3rem;
    padding-inline: 2rem;
    padding-block: 1rem;
    background-color: white;
    border-radius: 12px;
}

.progress-report-bar {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    background-image: radial-gradient(closest-side, white 69%, transparent 70% 100%), conic-gradient(#1AB0B0 90deg, #FF844B 90deg 180deg, #F85C7F 180deg 270deg, #8676FE 270deg 360deg);
}

.activities {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .dot {
        width: 0.5rem;
        height: 0.5rem;
        background-color: orange;
        border-radius: 50%;
    }

    div:nth-child(1) .dot {
        background-color: #1AB0B0;
    }

    div:nth-child(2) .dot {
        background-color: red;
    }
}


