<!-- form.component.html -->

<table class="table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>Verification Status</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>admin</td>
        <td>rahul&#64;gmail.com</td>
        <td>admin</td>
        <td>Verified</td>
        <td>
          <button class="btn btn-primary">Verify Email</button>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>om</td>
        <td>om&#64;gmail.com</td>
        <td>om</td>
        <td>Verified</td>
        <td>
          <button class="btn btn-primary">Verify Email</button>
        </td>
      </tr>
    </tbody>
  </table>
  
