@model EmployeeDirectoryWebApp.Models.VMLogin

@{
    Layout = null;
}
<form method="post" asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PassWord"></label>
        <input asp-for="PassWord" type="password" class="form-control" />
    </div>
    <div class="form-check">
        <input asp-for="KeepLoggedIn" class="form-check-input" />
        <label class="form-check-label" asp-for="KeepLoggedIn">Keep me logged in</label>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
<a asp-controller="Access" asp-action="Signup">Create an Account</a>


<div class="text-danger">@ViewData["ValidateMessage"]</div>
