@model EmployeeDirectoryWebApp.Models.VMSignup

@{
    Layout = null;
}

<form asp-action="Signup" asp-controller="Access" method="post">
    <div>
        <label asp-for="Username">Username:</label>
        <input asp-for="Username" />
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="ConfirmPassword">Confirm Password:</label>
        <input asp-for="ConfirmPassword" />
    </div>
    <button type="submit">Sign Up</button>
</form>

