@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using (Html.BeginForm("verify", "authenticate"))
{
    <form >
        <table style="width: 100%;">
            
            <tr>
                <td>
                    <p>Enter your user name</p>
                </td>
                <td>
                    <input type="text" name="username" placeholder="Username" >
                </td>
            </tr>
            <tr>
                <td>
                    <p>Enter your password</p>
                </td>
                <td>
                    <input type="password" name="password" placeholder="Password">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <input type="submit" value="Login">
                </td>
            </tr>
        </table>
    </form>
}